/* Responsive */
@media screen and (min-width:1200px){
    #info, #personal, #qualifications{
        height: 100vh;
    }

    .icones{
        margin-bottom: 10%;
    }
}

@media screen and (max-width:1120px){
    .knowledge{
        display: none;
    }

    .navbar-brand{
        margin: 0px !important;
    }
}

@media screen and (max-width:520px){
    .aboutParagraph{
        display: none;
    }
}

@media screen and (max-width:410px){
    .header{
        display: flex;
        justify-content: center;
    }

    .qualiTitle{
        font-size: 1.7em;
    }
}

@media screen and (max-width:330px){
    .foto-perfil {
        height: 200px;
        width: 200px;
    }

    .qualiTitle{
        font-size: 1.4em;
    }
}