.foto-perfil {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.titulos {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #485563;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black !important;
}

.corPrimaria {
    background-color: white;
}

.corSecundaria {
    background-color: #fbfbfb;
}

.header{
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#29323c, #485563); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer{
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#29323c, #485563); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-nav {
    text-align: center;
}

.conehcimentoTecnico h3{
    color: #485563;
}

@media screen and (min-width:1200px){
    #info, #sobreMim, #qualificacoes{
        height: 100vh;
    }

    .icones{
        margin-bottom: 10%;
    }
}

@media screen and (max-width:1120px){
    .conehcimentoTecnico{
        display: none;
    }
}